{% extends "::base.html.twig" %}

{% block title %}21 May - {{ 'Routes' | trans }}{% endblock title %}
{% block selected_menu %}routes{% endblock selected_menu %}

{% block content %}
  <div class="objects-index">
    <h1>{{ 'Routes' | trans }}</h1>
    {% include "SiteBaseBundle:Route:list.html.twig" with { filter: 'routes_list' }%}
  </div>
{% endblock content %}

