############
## BASE
############
/app/cache
/app/logs
/app/config/parameters.yml
/app/bootstrap*
/app/Symfony*
/.idea
/vendor
/web/bundles
/web/css
/web/js
/web/uploads
/web/media


############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
