.sonata-bc {
  .form-horizontal .control-label {
    margin-right: 1em
  }
  .fileupload-buttonbar {
    margin-left: 20px
  }
  textarea {
    width: 75%;
    height: 250px;
  }
}

#images-list {
  li.image {
    list-style: none;
    display: inline-block;
    margin: 5px;

    img { display: block; margin: 0 0 5px; }
  }
}

.translations-container {
  margin-bottom: 1em;
  border-bottom: 1px #ccc solid;
}