<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}
    {% stylesheets "@SiteBaseBundle/Resources/assets/css/base.scss" filter="compass, yui_css"%}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}
  {% block content %}
  {% endblock content %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
