<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}21 May{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
    {% stylesheets
    "@SiteBaseBundle/Resources/assets/css/base.scss"
    filter="compass, ?yui_css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="background-container">
<img src="{% block background_image %}/images/body.bg.jpg{% endblock background_image %}" id="background-image"/>
</div>
<div id="overall-wrapper">
  <div id="site-main-wrapper">
    <div class="site-width">
      {% include "::header.html.twig" with { selected_menu: block('selected_menu')}%}
      <div id="content-wrapper">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
  {% include "::footer.html.twig" %}
</div>
{% block javascripts %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <script src="{{ asset('bundles/sitebase/js/bg.js') }}"></script>
{% endblock %}
</body>
</html>
