<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>{% block title %}21 May{% endblock %}</title>
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}"/>
    {% stylesheets
    "@SiteBaseBundle/Resources/assets/css/base.scss"
    "@SiteBaseBundle/Resources/assets/css/footer.scss"
    filter="compass,yui_css" %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
  {% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="background-container">
<img src="{% block background_image %}/images/body.bg.jpg{% endblock background_image %}" id="background-image"/>
</div>
<div id="overall-wrapper">
  <div id="site-main-wrapper">
    <div class="site-width">
      {% include "::header.html.twig" with { selected_menu: block('selected_menu')}%}
      <div id="content-wrapper">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>
  {% include "::footer.html.twig" %}
</div>
{% block javascripts %}
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38685012-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  {% javascripts "bundles/sitebase/js/bg.js" filter="yui_js" %}
  <script src="{{ asset_url }}"></script>
  {% endjavascripts %}
{% endblock %}
</body>
</html>
