<p>
  Con 46 años navegando en la Patagonia, Turismo 21 de Mayo, empresa lider en excursions a los glaciares Balmaceda,
  Serrano y Torres del Paine. Posee ademas la estancia turistica Perales en el fiordo Ultima Esperanza y la hosteria
  Monto Balmaceda en el parque nacional Bernardo O’higgins. Nuestro conocimiento, capacidad técnica, infraestructura y
  capital humano son garantía para disfrutar de esta hermosa tierra.
</p>