{% extends "::base.html.twig" %}

{% block title %}21 May - {{ 'Accommodations' | trans }}{% endblock title %}
{% block selected_menu %}accommodation{% endblock selected_menu %}

{% block content %}
  <div class="content-pages-container">
  <h1>{{ 'Accommodations' | trans }}</h1>
  {% include "SiteBaseBundle:Accommodation:list.html.twig" with { filter: 'selected_for_homepage' }%}
  </div>
{% endblock content %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
  "@SiteBaseBundle/Resources/assets/css/accommodations.scss"
  filter="compass, ?yui_css" %}
  <link rel="stylesheet" href="{{ asset_url }}"/>
  {% endstylesheets %}
{% endblock stylesheets %}