@import "definitions";

#accommodation-primary, #secondary-text-container {
  padding: 24px;
}

#secondary-text-container {
  table {
    tr {
      td {
        padding: 4px 5px;
        &:first-child:before {
          content: '';
          @include inline-block;
          width: 18px;
          height: 18px;
          border-radius: 18px;
          background-color: $red;
          margin-right: 10px;
          vertical-align: -4px;
        }
        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
  margin-bottom: 1em;
}
