@import "definitions";

#accommodation-container {
  h1 {
    @include font-light;
    font-size: 33px;
    text-transform: uppercase;
  }
  .row {
    overflow: hidden;
    .column-left {
      float: left;
      width: 745px;
      @include bg_checks_black_mid;
      @include text-shadow;
      &, a {
        color: #fff
      }
    }
    .column-right {
      float: right;
      width: 190px;
    }
  }
}

#accommodation-primary, #secondary-text-container {
  padding: 34px 24px;
}

#secondary-text-container {
  table {
    tr {
      td {
        padding: 4px 5px;
        &:first-child:before {
          content: '';
          @include inline-block;
          width: 18px;
          height: 18px;
          border-radius: 18px;
          background-color: $red;
          margin-right: 10px;
          vertical-align: -4px;
        }
        &:last-child {
          font-weight: bold;
        }
      }
    }
  }
  margin-bottom: 1em;
}

.images-list {
  li {
    @include inline-block;
  }
}