@import "definitions";

html {
  background-color: black;
  min-height: 100%;
}

body {
  margin: 0 auto;
  width: 1280px;
  border: #333 solid;
  border-width: 0 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#site-main-wrapper {
  min-height: 1000px;
  position: relative;
  z-index: 2;
}
#background-container {
  position: absolute;
  z-index: 1;
  overflow: hidden;
  width: 1280px;
}

.site-width {
  width: 937px;
  margin: 0 auto;
}

#content-wrapper {
  padding: 30px 0;
}

//@import "header";
/*********
/ HEADER
/*********/
#header {
  @include font-bold;
  a {
    color: #fff;
    @include text-shadow;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
}

#header-menu {
  text-transform: uppercase;
  a {
    text-decoration: none;
    display: block;
  }
  > li {
    margin: 0 1px;
    @include inline-block;
    /* dropdown menus */
    &.has-submenu {
      position: relative;
      ul {
        display: none;
        width: 590px;
        margin: 0;
        padding: 0;
        position: absolute;
        z-index: 20;
        border-top: 3px transparent solid;
        > li {
          @include inline-block;
          a {
            width: 255px;
            @include bg_checks_black_light;
            padding: 12px 20px 20px;
            span.title {
              display: block;
              font-size: 18px;
              margin-bottom: 5px;
              border-bottom: 5px transparent solid;
            }
            img {
              display: block;
            }
          }
        }
      }
      &:hover ul {
        display: block;
        a:hover span.title {
          border-color: $orange;
          color: $orange;
        }
      }
    }
    &.split li {
      margin-bottom: 2px;
      a {
        padding: 20px 27px;
        height: 19px;
      }
      &:last-child {
        margin-bottom: 0
      }
    }
  }
  #menu-home {
    width: 294px;
  }
  #menu-accommodations, #menu-routes, #menu-about-us {
    width: 148px;
  }
  #menu-contacts-blog {
    width: 190px;
    margin-right: 0;
  }
  > li, li.split li {
   > a {
      @include bg_checks_black_light;
      &:hover {
        @include bg_stripes_red;
      }
    }
  }
  > li > a {
    padding: 20px 15px;
    height: 80px;
  }
  > li.active > a {
    @include bg_stripes_red;
  }
  #link-to-home {
    @include bg_checks_black_dark;
    padding: 14px 25px;
    height: 92px;

    &:hover {
      @include bg_stripes_red;
    }
    text-align: center;
  }
  tr:last-child a.single {
    margin-bottom: 0;
  }
}

.book-item {
  @include font-bold;
  display: block;
  background-color: $red;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  padding: 12px;
  letter-spacing: 3px;
  text-decoration: none;
}

/************************
*    CONTENT PAGES
/***********************/

.content-pages-container {
  h1 {
    @include font-light;
    font-size: 33px;
    text-transform: uppercase;
  }
  .row {
    overflow: hidden;
    margin: 0;
    .column-left {
      float: left;
      width: 745px;
      @include bg_checks_black_mid;
      @include text-shadow;
      &, a {
        color: #fff
      }
    }
    .column-right {
      float: right;
      width: 190px;
    }
  }
  .images-list {
    margin: 0;
    li {
      @include inline-block;
    }
  }
}

.sticky-object {
  @include bg_checks_bw;
  padding: 19px;
  margin-top: 20px;
  h4 {
    @include font-bold;
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    border-left: 19px $red solid;
    margin: 0 0 10px -19px;
    text-transform: uppercase;
    a {
      color: #000;
      text-decoration: none;
    }
  }
}

.objects-index {
  @include bg_checks_black_mid;
  @include text-shadow;
  color: #fff;
  padding: 20px;
  h1 {
    @include font-light;
    font-size: 33px;
    text-transform: uppercase;
  }
  .accommodations-list, .routes-list {
    margin: 0 -20px;
    li {
      @include inline-block;
      margin: 5px 20px;
    }
    a {
      display: block;
      text-decoration: none;
      color: #fff;
      span.title {
        display: block;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        border-bottom: 5px transparent solid;
        margin-bottom: 10px;
      }
      &:hover {
        span.title {
          color: $orange;
          border-color: $orange;

        }
      }
    }
  }
}

ul.errors {
  margin: 10px 0;
  padding: 0;
  li {
    list-style: none;
  }
}

@import "footer";
