@import "compass/css3";
@import "backgrounds";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700&subset=latin,latin-ext);

$light: #efefef;
$green: green;
$font: Ubuntu, Helvetica, Arial, sans-serif;

@mixin font-light {
  font-family: $font;
  font-weight: 400;
}

@mixin font-regular {
  font-family: $font;
  font-weight: 500;
}

@mixin font-bold {
  font-family: $font;
  font-weight: 700;
}

html {
  background-color: black;
  min-height: 100%;
}

body {
  margin: 0 auto;
  width: 1280px;
  border: #333 solid;
  border-width: 0 1px;
}

#site-main-wrapper {
  background: url('/images/body.bg.jpg') 100% 0 no-repeat;
  height: 1000px;
}

.site-width {
  width: 937px;
  margin: 0 auto;
}

#content-wrapper {
  padding: 67px 0;
}

@import "header";

#footer {
  @include font-bold;
  text-shadow: 0 0 2px #000;
  $footer-padding-top: 32px;
  height: 584px - $footer-padding-top;
  background: url('/images/footer.bg.png') no-repeat;
  position: relative;
  z-index: 2;
  margin-top: -20px;
  padding-top: $footer-padding-top;
}

#secondary-menu {
  td {
    text-align: center;
  }
  a {
    $width: 262px;
    $height: 164px;
    @include inline-block;
    width: $width;
    height: $height;
    text-align: center;
    position: relative;
    color: #fff;
    text-decoration: none;
    border: 2px #000 solid;

    &.menu-history {
      background: url('/images/history.image.png');
    }
    &.menu-about-us {
      background: url('/images/nosotros.image.png');
    }
    &.menu-blog {
      background: url('/images/blog.image.png');
    }

    img {
      display: none;
      position: absolute;
      width: 67px;
      height: 67px;
      top: $height / 2;
      left: $width / 2;
      margin-left: -33px;
      margin-top: -33px;
    }
    &:hover img {
      display: block;
    }

    span {
      @include inline-block;
      margin-top: $height - 30;
    }
  }
}
