@import "compass/css3";
@import "backgrounds";
@import url("/fonts/stylesheet.css");

$light: #efefef;
$green: green;
$font: proxima_nova_lt, Helvetica, Arial, sans-serif;

@mixin font-light {
  font-family: $font;
  font-weight: 200;
}

@mixin font-regular {
  font-family: $font;
  font-weight: 500;
}

@mixin font-bold {
  font-family: $font;
  font-weight: 800;
}

html {
  background-color: black;
  min-height: 100%;
}

body {
  margin: 0 auto;
  width: 1280px;
  border: #333 solid;
  border-width: 0 1px;
}

#site-main-wrapper {
  background: url('/images/body.bg.jpg') 100% 0 no-repeat;
  height: 1000px;
}

.site-width {
  width: 937px;
  margin: 0 auto;
}

#content-wrapper {
  padding: 67px 0;
}

@import "header";
@import "footer";
