@import "compass/css3";

$light: #efefef;
$green: green;
$orange: #dc3800;
$red: #d93600;

@mixin text-shadow {
  text-shadow: 0 0 1px #000;
}

/*******
/* FONTS
/*******/
$font: proxima_nova_lt, Helvetica, Arial, sans-serif;

@mixin font-light {
  font-family: $font;
  font-weight: 200;
}

@mixin font-regular {
  font-family: $font;
  font-weight: 500;
}

@mixin font-bold {
  font-family: $font;
  font-weight: 800;
}

/**************
/* BACKGROUNDS
/**************/
@mixin bg_checks_black_dark {
  background: url('/images/checks.black.dark.png') repeat;
}

@mixin bg_checks_black_light {
  background: url('/images/checks.black.light.png') repeat;
}

@mixin bg_checks_black_mid {
  background: url('/images/checks.black.mid.png') repeat;
}

@mixin bg_checks_blue {
  background: url('/images/checks.blue.png') repeat;
}

@mixin bg_checks_red {
  background: url('/images/checks.red.png') repeat;
}

@mixin bg_checks_bw{
  background: url('/images/checks.bw.png') repeat;
}
@mixin bg_stripes_red{
  background: url('/images/stripe.red.png') repeat;
}
