{% block user_block %}
  {{ app.user }} -
  <a href="{{ path('fos_user_security_logout') }}">{% trans %}user.logout{% endtrans %}</a>
  -
  <a href="{{ path('index') }}">{{ 'Jump to site homepage' | trans }}</a>
{% endblock %}